[Unit]
Description=route LAN dnsmasq
Requires=mkbridge.service
After=mkbridge.service

[Service]
Type=simple
Restart=on-failure
RestartSec=30
PIDFile=/run/dnsmasq-AP0.pid
ExecStart=/usr/sbin/dnsmasq --conf-file=/etc/hostapd/dnsmasq.conf --listen-address=192.168.7.1 --dhcp-range=192.168.7.100,192.168.7.254,60m --dhcp-option=option:router,192.168.7.1

[Install]
WantedBy=multi-user.target
