[Unit]
Description=创建 lan 桥接
After=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes

Restart=on-failure
RestartSec=30

EnvironmentFile=/etc/hostapd/linux2route.conf

ExecStartPre=-ip link delete dev $LAN_IFNAME
ExecStart=/etc/hostapd/mkbridge.sh
ExecStop=ip link delete dev $LAN_IFNAME

