[Unit]
Description=route LAN dnsmasq
After=mkbridge.service
Requires=mkbridge.service

[Service]
Type=simple
Restart=on-failure
RestartSec=30
EnvironmentFile=/etc/hostapd/linux2route.conf
PIDFile=/run/route-dnsmasq.pid
ExecStart=/usr/sbin/dnsmasq --conf-file=/etc/hostapd/route-dnsmasq.conf --listen-address=$GWATEWAY --dhcp-range=$DHCP_RANGE,60m --dhcp-option=option:router,$GATEWAY

[Install]
WantedBy=multi-user.target
