[Unit]
Description=linux 无线热点 route hostapd 
After=network.target mkVirtualIw.service
Wants=mkVirtualIw.service

[Service]
Type=simple
PIDFile=/run/hostapd.pid
EnvironmentFile=/etc/hostapd/linux2route.conf
ExecStart=hostapd -i $VIRTUAL_IW /etc/hostapd/hostapd.conf

[Install]
WantedBy=multi-user.target
