[Unit]
Description=创建虚拟无线网卡
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes

EnvironmentFile=/etc/hostapd/linux2route.conf

ExecStartPre=-iw dev $VIRTUAL_IW delete
ExecStart=iw dev $PHY_WIFI_IFNAME interface add $VIRTUAL_IW type managed addr "8c:c6:81:15:83:b8"
ExecStop=iw dev $VIRTUAL_IW delete

