[Unit]
Description=创建 路由器 SNAT 和 防火墙
After=network.target mkVirtualIw.service

[Service]
Type=oneshot
RemainAfterExit=yes

EnvironmentFile=/etc/hostapd/linux2route.conf

ExecStartPre=nft add chain inet filter postrouting { type nat hook postrouting priority 200; policy accept; }
ExecStartPre=nft add chain inet filter route 

ExecStartPre=-nft add rule inet filter postrouting oifname ${PHY_WIFI_IFNAME} counter masquerade
#ExecStartPre=nft add rule inet filter route iifname ${LAN_IFNAME} ip daddr 255.255.255.255 udp dport { 67, 68 } counter accept comment \"准许 DHCP 请求通过\"
ExecStartPre=nft add rule inet filter route iifname ${LAN_IFNAME} counter accept comment \"准许 ${LAN_IFNAME} \"

ExecStart=echo OK!

ExecStopPost=nft flush chain inet filter postrouting
ExecStopPost=nft flush chain inet filter route
