[Unit]
Description=route LAN dnsmasq
After=mkbridge.service
Requires=mkbridge.service

[Service]
Type=simple

EnvironmentFile=/etc/hostapd/linux2route.conf
PIDFile=/run/route-dnsmasq.pid

ExecStartPre=-touch /etc/hostapd/route-dnsmasq.leases
ExecStartPre=-env
ExecStartPre=-echo dnsmasq --conf-file=/etc/hostapd/route-dnsmasq.conf --listen-address=${GATEWAY} --dhcp-range=${DHCP_RANGE},60m --dhcp-option=option:router,${GATEWAY}
ExecStart=dnsmasq --conf-file=/etc/hostapd/route-dnsmasq.conf --listen-address=${GATEWAY} --dhcp-range=${DHCP_RANGE},60m --dhcp-option=option:router,${GATEWAY}

[Install]
WantedBy=multi-user.target
